.outerContainer {
    display: flex;
    justify-content: center;
}

.grid-container {
    margin-top: 2%;
    width: 1000px;
    height: 750px;
    display: grid;
    gap: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 1%;
}

.item0 {
    grid-column: 1/4;
}

.item1 {
    grid-column: 3/4;
}

.item2 {
    padding: 2%;
    height: 500px;
    grid-column: 1/2;
    grid-row: 3/12;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.item3 {
    padding: 2%;
    height: 500px;
    grid-column: 2/4;
    grid-row: 3/12;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.item4 {
    grid-column: 2/4;
}

.pUsername {
    text-align: right;
    text-transform: capitalize;
}

.pTo {
    font-size: larger;
    font-style: italic;
    text-align: left;
    text-transform: capitalize;
}

.contactTitleContainer {
    display: flex;
    justify-content: center;
    padding: 5%;
}

.contactInput {
    background: transparent !important;
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 1px solid #000 !important;
    box-shadow: none !important;
}

.contactContainer {
    padding: 5%;
    background-color: cornflowerblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: large;
}

.divBtn {
    color: white !important;
    font-weight: bolder !important;
    width: 100%;
    display: block;
    text-transform: capitalize;
    border: none !important;
}

.divBtn:focus {
    outline: none !important;
}