.footer {
    padding: 10px;
    background-color: black;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.footer-container {
    color: white;
}